<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />

    <title>AngularJS Authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body ng-app="main" ng-controller="mainController">
    <div class="text-center" style="padding:50px 0">
        <div class="logo">login</div>

        <div class="login-form-1">
            <form id="login-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label for="lg_username" class="sr-only">Username</label>
                            <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username" ng-model="username">
                        </div>
                        <div class="form-group">
                            <label for="lg_password" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password" ng-model="password">
                        </div>
                    </div>
                    <button class="login-button" ng-click="login()"><i class="fa fa-chevron-right"></i>Login</button>
                </div>
            </form>
            <button class="button" ng-show="UserValid" ng-click="addContact()"><i class="fa fa-chevron-right"></i>Add contact</button>
            <ul>
                <li ng-repeat="contact in contacts">
                    <div>
                        <p>name: {{contact.name}}</p>
                        <p>address: {{contact.address}}</p>
                        <p>email: {{contact.email}}</p>
                        <p>phone number: {{contact.phoneNumber}}</p>
                        <p>preferred contact method: {{contact.preferredContactMethod}}</p>

                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="text-center" style="padding:50px 0">
        <div class="logo">Create account</div>
        <div class="signup-form-1">
            <form id="signup-form" class="text-left">
                <div class="signup-form-main-message"></div>
                <div class="main-signup-form">
                    <div class="signup-group">
                        <div class="form-group">
                            <label for="su_username" class="sr-only">Username</label>
                            <input type="text" class="form-control" id="su_username" name="su_username" placeholder="username" ng-model="newusername">
                        </div>
                        <div class="form-group">
                            <label for="su_password" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="su_password" name="su_password" placeholder="password" ng-model="newpassword">
                        </div>
                        <div class="form-group">
                            <label for="su_passwordConfirmation" class="sr-only">Confirm Password</label>
                            <input type="password" class="form-control" id="su_passwordConfirmation" name="su_passwordConfirmation" placeholder="confirm password" ng-model="newpasswordconfirmed">
                        </div>
                        <button class="signup-button" ng-click="signup()"><i class="fa fa-chevron-right"></i>Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>